body {
    margin: 0;
    background-color: azure;
}

.fontManipulation {
    cursor: pointer;
    text-align: center;
}

.fontManipulation2 {
    background-color: blanchedalmond;
    color: blanchedalmond;
    cursor: pointer;
    
}

.fontManipulation3 {
    background-color: azure;
    color: azure;
    cursor: pointer;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    
}

@media screen and (max-width: 600px){
    ul.topnav {
        position: relative;
    }
}

#header {
    height: 700px;
    background-image: url(images/amsterdam3.jpg);
    margin-bottom: 150px;
}

#weather {
    float: right;
    margin-right: 20px;
    float: right;
    background-color: #BAC0B9;
    display: inline;
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-shadow: 10px 10px 5px grey;
}

.ciekawostka {
    
    width: 250px;
    height: 250px;
    float: right;
    background-color: #BAC0B9;
    display: inline;
    margin-top: 50px;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-shadow: 10px 10px 5px grey;
    
}

#content {
    min-height: 400px;
    width: 95%;
    margin-left: 25px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#footer {
    min-height: 250px;
    background-color: #333;
    padding-left: 50px;
    padding-top: 50px;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}

#buttony {
   display: none;
    
}



.stopka {
    width: 100px;
    height: 100px;
}

.text {
    
}

.miniatura {
    width: 300px;
    height: 300px;
}

.info-box {
    width: 80%;
    margin-bottom: 150px;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 300px;
    padding: 15px;
    background-color: #BAC0B9;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    box-shadow: 10px 10px 5px grey;
}

.info-box2 {
    width: 70%;
    margin-bottom: 75px;
    border: 1px solid black;
    border-radius: 15px;
    min-width: 300px;
    padding: 15px;
    background-color: #BAC0B9;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    margin-left: 15%;
    margin-top: 75px;
    box-shadow: 10px 10px 5px grey;
}

@media screen and (max-width: 600px){
    .info-box2 {margin-left: 0px;}
    #myVideo {width: 320px; height: 180px;}
}

.info-box h1 {
   
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


#centrowanie {
        width: 30%;
}

canvas {   
border: 1px solid black;
}

.button:hover {
    background-color: black;
    box-shadow: 10px 10px 5px grey;
    color: white;
}



#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

